<!DOCTYPE html>

<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Catálogo de Jogos</title>

    <!-- CSS do site -->
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/estilo.css') }}"
    >

    <!-- Fonte -->
    <link
        href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
        rel="stylesheet"
    >

    <!-- Ícones -->
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/pixelarticons@2.3.0/fonts/pixelart-icons-font.min.css"
    >

</head>

<body>

    <!-- Cabeçalho -->
    <header>

        <a href="/">

            <img
                src="{{ url_for('static', filename='imagens/logo.png') }}"
                alt="Level Up - Seu Catálogo de Games"
                class="logo"
            >

        </a>

    </header>


    <!-- Menu -->
    <nav>

        <a href="/">
            <i class="pixelart-icons-font-home"></i>
            Página Principal
        </a>

        <a href="/jogos">
            <i class="pixelart-icons-font-gamepad"></i>
            Jogos
        </a>

        <a href="/sobre">
            <i class="pixelart-icons-font-info-box"></i>
            Sobre
        </a>

        <a href="/contato">
            <i class="pixelart-icons-font-mail"></i>
            Contato
        </a>


        <!-- Barra de pesquisa -->
        <form method="GET" action="/pesquisar" class="pesquisa">

            <input
                type="text"
                id="pesquisa"
                name="pesquisa"
                placeholder="Pesquisar jogo"
            >

            <button type="submit">

                <i class="pixelart-icons-font-search"></i>
                Pesquisar

            </button>

        </form>

    </nav>


    <!-- Conteúdo da página -->
    <main>

        <div class="row">

            <div class="card">

                {% block content %}

                {% endblock %}

            </div>

        </div>

    </main>


    <!-- Rodapé -->
    <footer>

        <p>

            <i class="pixelart-icons-font-gamepad"></i>

            Desenvolvimento para Servidores II

        </p>

    </footer>

</body>

</html>